ag-charts-angular {
    display: block;
    width: 100%;
    height: 300px;
}

mat-card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

.text-center {
    text-align: center;
}

.p-3 {
    padding: 1rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.h-100 {
    height: 100%;
}