mat-card {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 12px;
    border-radius: unset;
    background-color: white;
}

mat-card .chart-button {
    border-radius: unset;
    background-color: #e0e0e0;
    color: black;
    font-size: 10px; 
    padding: 2px 2px;
    height: 25px;
}

mat-card .chart-button.active {
    background-color: #2f9bff;
    color: white;
    height: 25px;
}

.search-box {
    position: relative;
    width: 100%;
}

.search-box .search-icon {
    position: absolute;
    top: 50%;
    left: 8px; 
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    font-size: 14px; 
}

.search-box .search-input {
    padding-left: 28px; 
    border: 1px solid #ccc;
    border-radius: unset;
    height: 32px; 
    font-size: 12px;
}

::ng-deep .sort-panel {
    background-color: white !important;
}

::ng-deep .sort-panel .mat-option {
    background-color: white !important;
    color: black !important;
    font-size: 12px;
}

::ng-deep .sort-panel .mat-option:hover {
    background-color: #f5f5f5 !important;
}

.task-card {
    background-color: #2f9bff;
    color: white;
}

.mat-option {
    background-color: white;
    color: black;
    font-size: 12px;
}

.chart-card,
.bar-chart-card {
    min-height: 258px; 
    height: 258px;
    max-height: max-content;
}

.semi-chart-card {
    min-height: 180px; 
    height: 180px;
    max-height: max-content;
}

.stat-card {
    min-height: 56px; 
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 12px;
}

.gauge-area {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gauge-area canvas {
    width: 100% !important;
    height: 100% !important;
    max-height: 100px; 
}

.gauge-center {
    position: absolute;
    transform: translateY(28px); 
    text-align: center;
}

.gauge-center .gauge-num {
    font-size: 20px;
    font-weight: 700;
    color: #0f3b56;
}

.gauge-center .gauge-sub {
    font-size: 10px;
    color: #607d86;
}

.small-donut-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.small-donut-area canvas {
    width: 100% !important;
    height: 100% !important;
    max-height: 160px;
}

.small-donut-area .donut-center {
    position: absolute;
    text-align: center;
    color: #0f3b56;
    font-size: 10px;
    top: 70px;
}

.chart-area {
    height: 100%;
    display: flex;
    align-items: center;
}

.chart-area canvas {
    height: 150px !important; 
    width: 100% !important;
    margin-top: 6px; 
}

.equal-height {
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.equal-height .mat-card-content {
    flex-grow: 1;
}

.mb-4 {
    margin-bottom: 0.3rem !important;
}

mat-list-item{
    height: 35px !important;
    font-size: 12px;
    padding: unset;
}

h6{
    font-size: 14px;
}